<div class="col-md-12 d-flex">

  <div class="col-md-3 border">
    <div class="divBlock border mt-2">Story 1</div>
    <div class="divBlock border mt-2">Story 2</div>
    <div class="divBlock border mt-2">Story 3</div>
    <div class="divBlock border mt-2">Story 4</div>

  </div>
  <div class="col-md-9 d-flex" style="font-size: 13px;">
    <div class="col-md-4">
      <h5>Ready For Development</h5>
      <mat-card class="matStyle"  attr.disabled="true">
        <div class="row">
          Fix issues affecting line breaks
        </div>
      </mat-card>
      <mat-card class="mt-3 matStyle">Simple card</mat-card>
      <mat-card class="mt-3 matStyle">Simple card</mat-card>
    </div>
    <div class="col-md-4">
      <h5>In Development</h5>
      <mat-card class="matStyle col-md-12"  attr.disabled="true">
        <div class="row">
          Fix issues affecting line breaks
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <h5>Ready for Development</h5>
      <mat-card class="matStyle"  attr.disabled="true">
        <div class="row">
          Fix issues affecting line breaks
        </div>
      </mat-card>
    </div>
  </div>
</div>