<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->



<div style="text-align: center;position: relative;margin-left:62px;    margin-left: 275px;
width: 65%;">
<span style="width:0;height: 0%;border-bottom: 40px solid #ffff;border-right:40px solid transparent; position: absolute; left:4px;margin-left: 71px">
</span>

<div class="sample"style="z-index: 10;">
    <div class="borderTop" style="background-color: #fff">

      <span class="ml-3 mr-4" [ngClass]="{active:selectedTab=='allorders'}" (click)="selectedTab='allorders'">
        All Orders
      </span>
      <span class="ml-3 mr-4" [ngClass]="{active:selectedTab=='Promotions'}" (click)="selectedTab='Promotions'">
          Pendingorders
        </span>
      </div>

</div>

</div>

<span class="leftTrangle">
  </span>



<div style="padding-top:7%">

<mat-vertical-stepper  >
    <mat-step *ngFor="let productJson of productJson;let i=index" label="'i'">
      <div>
        <ng-template matStepLabel   class="col-md-12">
          <div>
            <div class="row" style="position: absolute;
            margin-top: -8px;">
                    <div class="ml-2"> Order {{productJson.Order}} <span class="ml-2">
                        |
                    </span></div> 
                    <div class="ml-2"> {{productJson.noProducts}} Products <span class="ml-2">
                        |
                    </span></div> 
                    <div class="ml-2"> {{productJson.totalPrice | currency}} </div>
            </div>
            
          </div></ng-template>
          <div class="row" class="orderListButtonAllignmet">
              <button class="btn btn-primary orderListButton" (click)="reOrder(productJson.ordersList,i)">Reorder</button>
          </div>
          <div class="col-md-12" *ngFor="let itemsOrder of productJson.ordersList;let i=index">
              <div class="row mt-3" >
                  <div class="col-md-12">
                      <mat-card class="a2"  [ngStyle]="{'border-left-color':productJson.color}">
                        <div class="row">
                          <div class="col-md-2"> <img style="width:100px;height: 100px;"
                              src="https://cdn.pixabay.com/photo/2015/11/06/15/13/internet-1028794__340.jpg"></div>
                          <div class="col-md-3">{{itemsOrder.productName}}</div>
                          <div class="col-md-2" >{{itemsOrder.quantity}}</div>
                          <div class="col-md-2">{{itemsOrder.netPrice | currency}}</div>
                          <div class="col-md-2">{{itemsOrder.status}}</div>
                            <!-- <div class="col-md-2">{{productJson.trideprice | currency}}</div>
                            <div class="col-md-1">{{productJson.savings | currency}}</div>
                            <div class="col-md-1">{{productJson.netprice | currency}}</div> -->
                        </div>
                        </mat-card>
                    </div>
              </div>
              
            </div>
        </div>
    </mat-step>
  </mat-vertical-stepper>
</div>