<div class="mt-5 pt-5" style="padding-top:10%">
    <mat-card
      class="p-0"
      style="border-radius: 10px;height: 500px;border-bottom-right-radius: 10px;border-top-right-radius: 10px"
    >
      <div class="row col-md-12" style="height: 500px">
        <div
          class="col-md-4 p-3 pt-5"
          style="background-color: #26a69a; text-align: center; color: white;border-bottom-right-radius: 10px;border-top-right-radius: 10px"
        >
          <img
            class="mr-2 pt-5"
            src="./assets/images/iorder_header.png"
            alt="MSD Logo"
            style="padding-top: 30%;height: 204px"
          />
          <div class="pb-3 pt-2" style="font-size: 19px">
            IOrder
          </div>
          <div>
            Welcome Back,Login with your details.
          </div>
        </div>
        <div
          class="col-md-8 p-3"
          style="text-align: center;padding-top: 8% !important"
        >
          <img
            class="mr-2 pt-5"
            src="./assets/images/iorder_header.png"
            alt="MSD Logo"
          />
          <div style="color: #26a69a;font-size: 13px">iOrder</div>
          <div style="font-size: 11px">
            Login With
          </div>
          <div class="col-md-7" style="margin:0 auto">
            <i class="fa fa-imdb"></i>
            <span style="border-right:1px" solid black class="pl-2"></span>
            <i class="fa fa-cloud pl-2"></i>
          </div>
          <div class="col-md-7" style="margin:0 auto">
            <input type="text" class="form-control" placeholder="username" />
            <input
              type="password"
              class="form-control mt-3 mb-3"
              placeholder="password"
            />
          </div>
          <button
            (click)="navigateToDashboard()"
            class="btn btn-primary col-md-2"
            style="background-color: #26a69a;border-radius: 20px;border:1px solid #26a69a;font-size: 12px"
          >
            Sign In
          </button>
        </div>
      </div>
    </mat-card>
  </div>