example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

 
  .a2{
    border-left-width: 15px !important;
    border-radius: 35px;
  margin-top: 15px }

  table td, .table th {
    /* padding: .75rem;
    vertical-align: top; */
     border-top: none !important; 
}

.table thead th {
  border-bottom: none;
}

.tableAlignment{
  border-left: 2px solid #dee2e6;;
    margin-top: 20px;
}