example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    font-family: 'FontAwesome';
    content: ">" !important; 
  }

  .breadcrumb-item {
    cursor: pointer;
  }


  .active{
    background-color: #26a69a;
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
    color: #ffff;
    padding-bottom: 1px;
  }
  .breadcrumb1 {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color:none;
    border-radius: .25rem;
}
 
  .a2{
    border-left-width: 4px !important;
    border-radius: 35px;
  margin-top: 15px;
  border-radius: 25px;
  border-left: 1px solid transparent;}

  table td, .table th {
    /* padding: .75rem;
    vertical-align: top; */
     border-top: none !important; 
}

.table thead th {
  border-bottom: none;
}

.tableAlignment{
  border-left: 2px solid #dee2e6;;
    margin-top: 20px;
}

.cardwholesaler{
  border-radius: 23px;
    border-bottom: 0.5px solid beige;
}

.wholesaler {
border-color:  lightgreen;
border-radius: 15px;
color:lightgreen;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: right;
}